
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(254, 251, 245);
  border-radius: 10px;
  padding: 40px;
  background-color: rgb(254, 251, 245);
  width: 350px;
  height:600px;
}

.signup-container h1 {
  margin-top: 25px;
  color: rgb(47, 28, 15);
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700; 
}


.label-pass2 {
  display: block;
  color: rgb(104, 68, 42);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 14px;
  margin-bottom: 7px;
  margin-top: 20px;
}

.swapper2 {
  margin-top: 40px;
  color: rgb(47, 28, 15);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 14px;
}

.swapper2 a {
  color: rgb(164, 132, 109);        
  text-decoration: none;          
}

.swapper2 a:hover {
  color: rgb(75, 48, 28);        
  text-decoration: underline;     
}